@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Sora:wght@100..800&display=swap');
@import "tailwindcss";
@import "@nuxt/ui";

@layer base {
    html {
        font-family: 'Inter', sans-serif;
        scroll-behavior: smooth;
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Sora', sans-serif;
        color: #E5E5E5;
    }
    p, span, a, button {
        color: #9CA3AF;
    }
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --ui-primary: var(--color-purple-700);
}

@theme {
    --color-purpy: radial-gradient(125% 125% at 50% 90%, #000000 40%, #2b092b 100%);
    --color-purpy-light: radial-gradient(125% 125% at 50% 90%, #eaeaea 40%, #7a1b7a 100%);
}

@layer base {
    body {
        @apply bg-(image:--color-purpy) bg-fixed text-slate-800 dark:text-white;
    }
    .cursor-transition {
        transition-property: width, height, box-shadow, transform;
    }
    .cursor-hover {
        box-shadow: 1px 1px 10px 1px #E5E5E5;
    }

    .glow-effect {
        @apply lg:opacity-0 relative transition duration-300
             inline-block
        before:inline-block before:absolute before:inset-2 sm:before:inset-5
        before:bg-primary before:blur-xl before:z-[-1] before:rounded-full
        before:h-3/5 group-hover:opacity-100;
    }
}



.cardGlow {
    position: relative;
    width: min(250px, 80vw);
    height: min(250px, 80vw);
    background-color: rgba(21, 24, 35, 0.7);
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.3);
}
.cardGlow:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    filter: blur(40px);
    transform: scale(1.3);
    background: linear-gradient(90deg, #0fffc1, #7e0fff);
    background-size: 200% 200%;
    animation: animateGlow 10s ease infinite;
}
@keyframes animateGlow {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
