@import '@fontsource-variable/inter';
@import '@fontsource-variable/sora';
@import "tailwindcss";
@import "@nuxt/ui";

@layer base {
    html {
        font-family: 'Inter Variable', 'Inter', sans-serif;
        scroll-behavior: smooth;
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Sora Variable', 'Sora', sans-serif;
        color: #E5E5E5;
    }
    p, span, a, button {
        color: #9CA3AF;
    }
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --ui-primary: var(--color-purple-700);
}

@theme {
    --color-purpy: radial-gradient(125% 125% at 50% 90%, #000000 40%, #2b092b 100%);
    --color-purpy-light: radial-gradient(125% 125% at 50% 90%, #eaeaea 40%, #7a1b7a 100%);
}

@layer base {
    body {
        @apply bg-(image:--color-purpy) lg:bg-fixed text-slate-800 dark:text-white;
    }
    .cursor-transition {
        transition-property: width, height, box-shadow, transform;
    }
    .cursor-hover {
        box-shadow: 1px 1px 10px 1px #E5E5E5;
    }

    .glow-effect {
        @apply lg:opacity-0 relative transition duration-300
             inline-block
        before:inline-block before:absolute before:inset-2 sm:before:inset-5
        before:bg-primary before:blur-xl before:z-[-1] before:rounded-full
        before:h-3/5 group-hover:opacity-100;
    }
}



